<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<header>
    <h1>Book Shelf</h1>
</header>
<!-- <ul class="menu-bar">
<li ng-click="something()">Home</li>
<li ng-click="navigateToLeaderBoard()">LeaderBoard</li>
<li>ScoreCard</li>
</ul> -->
</div>
<div class="main-content">
    <form class="form-validation">
        <div class="form-row">
                <div class="content">
                        <div class="bookmarks-list">
                            <h2>Read</h2>
                          <ul>
                             <li ng-repeat="item in testData">
                                 <div context-menu="myContextDiv">
                                        <h3>{{item.title}}</h3>
                                        <img ng-src="{{item.thumbnailUrl}}" />
                                 </div>
                                
                             </li>
                           </ul>
                        </div>
                </div>
        </div>

        <div class="form-row">
            
        </div>

        <div class="form-row">
            
        </div>

    </form>
</div>
    
</body>

</html>